/* Lock text displays */
.container {
    margin: 0 auto;
    max-width: 25em;
    min-height: 50vh;
    padding: 3vw 1.4vw;
    width: 100%
}

.question-field {
    padding: 0.8em;
}

.status-messages {
    padding: 2vw;
}

.button {
	background: #eceae6;
	color: #000000;
	border-radius: 7px;
	box-shadow: 0 5px #a8a8a8;
    padding: 5px 10px 8px 20px;    
}

/* Door lock markers*/
.is-open::after {
    content: "✔️";
}

.is-locked::after {
    content: "❌";
}

/* Fade effects*/
.is-hidden {
    opacity: 0;
    -webkit-transition: 600ms all ease;
    transition: 600ms all ease;
}

.is-visible {
    opacity: 1;
    -webkit-transition: 600ms all ease;
    transition: 600ms all ease;
}
