/* Lock text displays */
.container {
    margin: 0 auto;
    max-width: 25em;
    min-height: 50vh;
    padding: 3vw 1.4vw;
    width: 100%
}

.question-field {
    padding: 0.8em;
}

.status-messages {
    padding: 2vw;
}

.button {
    margin: 1vw;
}

/* Door lock markers*/
.is-open::after {
    content: "✔️";
}

.is-locked::after {
    content: "❌";
}

.is-hidden {
    display: none;
}